body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #F8D7DA, #E3E3E3);
}

.converter-container {
    background-color: #F8D7DA;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    margin: 0 auto; 
}

h1 {
    color: rgb(224, 141, 172);
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: calc(100% - 20px); 
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #eea5da;
    border-radius: 5px;
    box-sizing: border-box; 
}

button {
    width: 100%;
    padding: 8px;
    background-color: rgb(212, 114, 186);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e11f94;
}

p {
    margin-top: 20px;
    color: #5D1049;
}


@media (max-width: 600px) {

    .converter-container {
        max-width: 100%; 
        padding: 20px;
    }
}